.courses_backbutton_mainContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.courses_backbutton_Container {
  border-radius: 50%;
  padding: 10px;
  background-color: #0057b338;
  cursor: pointer;
}
.courses_trainercard {
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 12px 24px;
  transition: all 0.4s ease-in;
  /* background-color: #6068cd; */
  align-items: center;
}
.courses_trainercard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1.03);
}
.courses_trainercard_imagesContainer {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses_trainercard_images {
  width: 92%;
}
.courses_trainercard_contentContainer {
  margin-left: 12px;
  color: #fff;
}
.courses_trainercard_name {
  font-weight: 600;
  font-size: 18px;
}
.courses_trainercard_exp {
  margin-top: 2px !important;
}
.courses_trainerheading {
  margin-top: 20px !important;
  margin-bottom: 12px !important;
  font-weight: 600;
  font-size: 17px;
}
.courses_topicsmainContainer {
  /* padding: 12px; */
  border-radius: 12px !important;
  /* box-shadow: 0 3px 8px #0000003d; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 0;
  opacity: 1;
}
.courses_topics_sidebarContainer {
  border-right: 1px solid #d1d1d1;
  padding: 0px;
}
.courses_topactivetab_div {
  background-color: #b2d1f3;
  padding: 9px 12px;
  font-weight: 600;
  margin-bottom: 14px;
}
.courses_topinactivetab_div {
  border-radius: 12px;
  padding: 9px 12px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 14px;
}
.courses_videomainContainer {
  padding: 12px 12px 20px 12px;
}

/* course videos styles */
.courses_iframevideos {
  border-radius: 12px;
}
.courses_videotitle {
  font-weight: 600;
  margin-top: 12px !important;
  font-size: 14px;
}
.courses_maptrainerbutton_container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.courses_addtopic_button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 19px;
  cursor: pointer;
  font-weight: 600;
}
.courses_addtopic_button:hover {
  opacity: 0.9;
}
.courses_addtopic_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_addtopicmodal_footerContainer {
  display: flex;
  margin-top: 12px;
  gap: 24px;
  justify-content: flex-end;
}
.courses_addtopicmodal_submitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  cursor: pointer;
  font-weight: 600;
}
.courses_addtopicmodal_submitbutton:hover {
  color: #fff !important;
  opacity: 0.8;
}
.courses_addtopicmodal_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_addtopicmodal_disablesubmitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  cursor: default;
  font-weight: 600;
  opacity: 0.8;
}
.courses_addtopicbutton_spin {
  color: #fff !important;
}
