.courses_backbutton_mainContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.courses_backbutton_Container {
  border-radius: 50%;
  padding: 10px;
  background-color: #0057b338;
  cursor: pointer;
}
.courses_trainercard {
  border-radius: 12px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 12px 24px;
  transition: all 0.4s ease-in;
  /* background-color: #6068cd; */
  align-items: center;
}
.courses_trainercard:hover {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transform: scale(1.03);
}
.courses_trainercard_imagesContainer {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses_trainercard_deafultimages {
  color: rgba(128, 128, 128, 0.61);
}
.courses_trainercard_images {
  width: 92%;
}
.courses_trainercard_contentContainer {
  margin-left: 12px;
  color: #fff;
}
.courses_trainercard_name {
  font-weight: 600;
  font-size: 18px;
}
.courses_trainercard_exp {
  margin-top: 2px !important;
}
.courses_trainerheading {
  margin-top: 20px !important;
  margin-bottom: 12px !important;
  font-weight: 600;
  font-size: 17px;
}
.courses_topicsmainContainer {
  /* padding: 12px; */
  border-radius: 12px !important;
  /* box-shadow: 0 3px 8px #0000003d; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 0;
  opacity: 1;
}
.courses_topics_sidebarContainer {
  border-right: 1px solid #d1d1d1;
  padding: 0px;
}
.courses_topactivetab_div {
  background-color: #b2d1f3;
  padding: 9px 12px;
  font-weight: 600;
  margin-bottom: 14px;
  position: relative;
}
.courses_topactivetab_div:hover .courses_topics_editanddeleteiconContainer,
.courses_topinactivetab_div:hover .courses_topics_editanddeleteiconContainer {
  transform: translateX(0px);
  opacity: 1;
}
.courses_topics_innerContainer {
  width: 85%;
}
.courses_topinactivetab_div {
  border-radius: 12px;
  padding: 9px 12px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 14px;
  position: relative;
}
.courses_topics_editanddeleteicon {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.courses_topics_editanddeleteiconContainer {
  /* display: none; */
  position: absolute;
  top: 25%;
  right: 16px;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  gap: 12px;
}
.courses_topics_editanddeleteicon:hover {
  transform: scale(1.1);
}
.courses_videomainContainer {
  padding: 12px 12px 20px 12px;
}
.courses_topics_nodataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
}
/* course videos styles */
.courses_iframevideos {
  border-radius: 12px;
}
.courses_videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.courses_videoContainer iframe,
.courses_videoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.courses_videotitle_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px !important;
}
.courses_videotitle {
  font-weight: 600;
  font-size: 14px;
}
.courses_videodelete_icon {
  opacity: 0;
}
.courses_video_col_Container {
  margin-bottom: 26px;
}
.courses_video_col_Container:hover .courses_videodelete_icon {
  opacity: 1;
  cursor: pointer;
}
.courses_maptrainerbutton_container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.courses_addtopic_button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 19px;
  cursor: pointer;
  font-weight: 600;
}
.courses_addtopic_button:hover {
  opacity: 0.9;
}
.courses_addtopic_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_addtopicmodal_footerContainer {
  display: flex;
  margin-top: 12px;
  gap: 24px;
  justify-content: flex-end;
}
.courses_addtopicmodal_submitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  cursor: pointer;
  font-weight: 600;
}
.courses_addtopicmodal_submitbutton:hover {
  color: #fff !important;
  opacity: 0.8;
}
.courses_addtopicmodal_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_addtopicmodal_disablesubmitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  cursor: default;
  font-weight: 600;
  opacity: 0.8;
}
.courses_addtopicbutton_spin {
  color: #fff !important;
}
.courses_addvideodrawer_or_text {
  font-size: 16px;
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}
.courses_addvideodrawer .ant-upload.ant-upload-drag {
  height: 180px !important;
}
.courses_addvideodrawer:hover .ant-upload.ant-upload-drag {
  border-color: #0056b3 !important;
}

.courses_addvideodrawer .ant-upload-drag-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}
.courses_addvideo_submitbuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.courses_addvideo_submitbutton {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 34px;
  cursor: pointer;
  font-weight: 600;
}
.courses_addvideo_submitbutton:hover {
  opacity: 0.9;
}
.courses_addvideo_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_addvideo_disablesubmitbutton {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 34px;
  cursor: default;
  font-weight: 600;
  opacity: 0.8;
}
/* document styles */
.courses_documenttitle {
  font-weight: 600;
  font-size: 14px;
  padding: 0px 0px;
  margin-bottom: 10px !important;
}
.courses_documentcardContainer {
  position: relative;
}
.courses_documentcard {
  height: 300px;
  border: 1px solid #d4d2d0;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 9px;
  position: relative;
  cursor: default;
}
.courses_documentcardContainer:hover .courses_documentcard {
  opacity: 0.5;
}
.courses_documentcardContainer:hover .courses_documentViewbutton_container {
  opacity: 1;
  z-index: 1;
  right: 40%;
}
.courses_documentViewbutton_container {
  position: absolute;
  top: 50%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* interview preparation styles */
.courses_interprepration_container {
  margin-top: 40px;
}
.courses_interprepration_heading {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px !important;
}
.courses_companyCards {
  height: 100%;
  transition: all 0.4s ease-in;
  border-radius: 12px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.courses_companyCards:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transform: scale(1.03);
}
.courses_companyCards:hover .courses_companycard_editContainer {
  opacity: 1;
  transform: translateX(0px);
}

.courses_interprepration_companyCards_innerContainer {
  display: flex;
  gap: 16px;
  padding: 16px 24px;
  align-items: center;
}
.courses_interprepration_companylogos {
  width: 75px;
}
.courses_interprepration_companyname {
  font-weight: 600;
  font-size: 17px;
}
.courses_companycard_videotext {
  margin-bottom: 2px !important;
}
.courses_companycard_editContainer {
  position: absolute;
  right: 16px;
  top: 12px;
  transform: translateX(19px);
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 12px;
  opacity: 0;
}
.courses_companylogo_container {
  margin-top: 6px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0057b318; */
}
.courses_companymodal_logo {
  width: 120px;
}
.courses_companylogo_uploadContainer {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}
.courses_companylogo_uploadbutton:hover {
  color: #0056b3 !important;
  border-color: #0056b3 !important;
}
.courses_modal_submitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 34px;
  cursor: pointer;
  font-weight: 600;
}
.courses_modal_submitbutton:hover {
  color: #fff !important;
  opacity: 0.8;
}
.courses_modal_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.courses_modal_disablesubmitbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 34px;
  cursor: default;
  font-weight: 600;
  opacity: 0.8;
}

/* company videos and documents styles */
