.admin_headerContainer {
  border-bottom: 1px solid #e4e2e0;
  padding: 12px 32px;
  color: #2d2d2d;
  font-size: 14px;
  background-color: #ffffff;
}
.admin_headerlogoContainer {
  display: flex;
  align-items: center;
}
.admin_activeheaderheadings {
  color: #0056b3;
}
.admin_headerheadings {
  cursor: pointer;
}
.admin_headerheadings:hover {
  color: #0056b3;
}
.admin_headerlogoutbutton {
  margin-left: 12px;
  /* width: 90px; */
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px !important;
}
.admin_headerlogoutbutton:hover {
  border-color: #0056b3 !important;
  color: #0056b3 !important;
}
.admin_headeravatar {
  background-color: #0056b3;
  font-weight: 600;
}
.admin_header {
  font-size: 24px;
  font-weight: 600;
}
.admin_headermodalsubmitbutton {
  width: max-content;
  background-color: #0056b3;
  border-color: #0056b3 !important;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 19px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
}
.admin_headermodalsubmitbutton:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #ffffff !important;
  opacity: 0.7;
}
.admin_headermodalcancelbutton {
  margin-top: 12px;
}
.admin_headermodalcancelbutton:hover {
  border-color: #0056b3 !important;
  color: #0056b3 !important;
}
.placementheader_menuContainer {
  background-color: #fff;
  position: absolute;
  top: 130%;
  right: 0px;
  z-index: 99;
  border-radius: 9px;
  padding: 9px 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.placementheader_logoutmenuContainer {
  background-color: #fff;
  position: absolute;
  width: 250px;
  top: 130%;
  right: 0px;
  z-index: 99;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
