.folder_mainContainer {
  background-color: rgba(128, 128, 128, 0.11);
  height: 100vh;
  position: relative;
  overflow: auto;
}
.folders_innercontainer {
  padding: 26px 32px;
}
.folders_headingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.folders_heading {
  font-weight: 600;
  font-size: 18px;
}
.folders_createfolder_button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 19px;
  height: 34px;
  cursor: pointer;
  font-weight: 600;
}
.folders_createfolder_button:hover {
  opacity: 0.7;
}
.folders_listContainer {
  border: 1px solid rgba(128, 128, 128, 0.384);
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
}
.folders_listname_text {
  font-weight: 600;
  cursor: pointer;
}
.folders_listcreatedat_text {
  color: gray;
  font-size: 14px;
  margin-top: 9px !important;
}
.folders_nodatadiv {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
}
.folders_modalcancelbutton {
  margin-top: 12px;
}
.folders_modalcancelbutton:hover {
  border-color: #0056b3 !important;
  color: #0056b3 !important;
}
.folders_modalsubmitbutton {
  margin-top: 12px;
  border-color: #d32215;
  color: #d32215;
}
.folders_modalsubmitbutton:hover {
  border-color: #d32215 !important;
  background-color: #d32215 !important;
  color: white !important;
}
/* folder profiles styles */
.folderprofiles_mainContainer {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.11);
  position: relative;
}
