.portal_mainheadings {
  font-weight: 600;
  font-size: 25px;
  color: #0056b3;
}
.questionupload_tableContainer {
  border-radius: 4px !important;
  box-shadow: 0 4px 12px #00000014 !important;
}
.questionupload_table_emptycourse {
  margin-left: 24px !important;
}
.portal_headinContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionupload_filterContainer {
  display: flex;
  gap: 12px;
  width: 100%;
}
.questionupload_filterselectfield {
  height: 32px !important;
}
.questionupload_button {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 19px;
  cursor: pointer;
  font-weight: 600;
}
.questionupload_button:hover {
  opacity: 0.8;
}
.questionupload_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}

.uploadquestion_drawerheading {
  font-size: 20px;
  font-weight: 600;
}
.questionupload_submitbutton {
  color: #fff;
  background-color: #0056b3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  height: 36px;
  width: 130px;
  font-weight: 600;
  border-radius: 9px;
  margin-top: 34px;
  outline: 0 !important;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
.questionupload_submitbutton:hover {
  opacity: 0.8;
}
.questionupload_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.questionupload_disablesubmitbutton {
  color: #fff;
  background-color: #0056b3;
  /* box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  height: 36px;
  width: 130px;
  font-weight: 500;
  border-radius: 9px;
  margin-top: 34px;
  outline: 0 !important;
  cursor: default;
  border: none;
  opacity: 0.7;
}
.questionupload_coursefieldlabel_active {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
}
.questionupload_coursefieldlabel_inactive {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
  opacity: 0.7;
}
.questionupload_table .ant-select .ant-select-arrow {
  top: 60% !important;
}
.questionupload_table
  .ant-pagination
  .ant-pagination-options-size-changer.ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  margin-top: 0px !important;
}
.questionupload_table .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #d7d7d7 !important;
}
.questionupload_table .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #d7d7d7 !important;
}
.questionupload_table_actionContainer {
  display: flex;
  gap: 26px;
}
.questionupload_actionicons {
  cursor: pointer;
}
.questionupload_actionicons:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.questionupload_deletemodalContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.questionupload_deletemodal_iconContainer {
  border-radius: 50%;
  padding: 11px;
  background-color: #fde2e2;
}
.question_deletemodal_confirmdeletetext {
  font-weight: 600;
  margin-top: 12px !important;
  font-size: 16px;
}
.question_deletemodal_text {
  color: gray;
  margin-top: 6px !important;
  line-height: 24px !important;
}
.question_deletemodal_footerContainer {
  display: flex;
  margin-top: 22px;
  gap: 24px;
}
.question_deletemodal_cancelbutton:hover {
  color: #0056b3 !important;
  border-color: #0056b3 !important;
}
.question_deletemodal_deletebutton {
  color: #d14343 !important;
  border-color: #d14343 !important;
}
.question_deletemodal_deletebutton:hover {
  opacity: 0.8;
}
.questionupload_bulkmodal_upload .ant-upload.ant-upload-drag {
  display: flex;
  align-items: center;
  padding: 24px;
}
.questionupload_bulkmodal_upload .ant-upload.ant-upload-drag:hover {
  border-color: #0056b3;
}
.questionupload_bulkmodal_upload .ant-upload-drag-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.questionupload_excelicon {
  width: 50px;
  margin-bottom: 16px;
  text-align: center;
}
.questionupload_bulkmodal_dragtext {
  color: gray;
  font-weight: 500;
}
.questionupload_bulkmodal_choosefile {
  color: #0056b3;
  text-decoration: underline;
  font-weight: 600;
}
.questionupload_excelsupportContainer {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 500;
}
.questionupload_bulkupload_templateContainer {
  border: 2px solid rgba(128, 128, 128, 0.445);
  margin-top: 30px;
  padding: 12px;
  border-radius: 6px;
}
.questionupload_templateheading {
  font-weight: 600;
  font-size: 13px;
  margin-top: 2px !important;
}
.questionupload_templatetext {
  color: gray;
  font-weight: 500;
  font-size: 12px;
}
.questionupload_templatedownload_button {
  border: 2px solid rgba(128, 128, 128, 0.295);
  font-weight: 600;
  background-color: transparent;
  border-radius: 6px;
  padding: 4px 14px;
  margin-top: 12px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.questionupload_templatedownload_button:hover {
  color: #0056b3;
  border-color: #0057b36e;
}
.questionupload_templatedownload_button:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.questionupload_bulkmodal_footerContainer {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}
.questionupload_bulkmodal_footercancel_button {
  width: 90px;
}
.questionupload_bulkmodal_footercancel_button:hover {
  color: #0056b3 !important;
  border-color: #0057b3c2 !important;
}
.questionupload_bulkmodal_footerimport_button {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
  font-weight: 600;
  width: 90px;
}
.questionupload_bulkmodal_footerimport_button:hover {
  opacity: 0.7;
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #fff !important;
}
.questionupload_bulkerrorContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0px;
}
