/* lms login */
.loginpage_maincontainer {
  height: 100vh;
  position: relative;
  overflow: auto;
}
.loginpage_leftContainer {
  display: flex;
  justify-content: center;
  padding: 0px 90px;
  flex-direction: column;
  height: 100%;
  position: relative;
}
@media (min-width: 320px) and (max-width: 520px) {
  .loginpage_leftContainer {
    padding: 12px;
  }
}
.loginpage_leftheading {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 16px !important;
}

.loginpage_points h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.loginpage_points p {
  font-size: 14px;
  color: #e6e6e6;
  line-height: 1.5;
}
.loginpage_points ul {
  padding: 6px 0px 6px 24px;
  color: #fff;
  font-weight: 600;
}
.loginpage_points li {
  line-height: 28px;
  display: flex;
  align-items: center;
}
.loginpage_subheadingContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
  align-items: center;
  margin-bottom: 8px;
}

.loginpage_rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 1;
  position: relative;
  height: 100vh;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 767px) {
  .loginpage_rightContainer {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.loginpage_logo {
  width: 125px;
  margin-bottom: 20px;
}
.loginpage_submitbutton {
  background-color: #0056b3;
  width: 100%;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
  height: 42px;
}
.loginpage_leftbackground_imageContainer {
  position: absolute;
  top: 142px;
  left: 10%;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
  height: calc(100% - 142px); /* Prevent overflow */
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 768px) {
  .loginpage_leftbackground_imageContainer {
    left: 0%;
  }
}
@media (min-width: 521px) and (max-width: 768px) {
  .loginpage_leftbackground_imageContainer {
    left: 8%;
    top: 102px;
    height: calc(100% - 102px);
  }
}
.loginpage_leftbackground_image {
  width: max-content;
  object-fit: cover;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .loginpage_leftbackground_image {
    height: 100%;
  }
}
.loginpage_leftbuttonContainer {
  position: absolute;
  top: 20%;
  right: 0px;
}
@media (min-width: 320px) and (max-width: 521px) {
  .loginpage_leftbuttonContainer {
    display: none;
  }
}
.loginpage_leftactive_button {
  display: flex;
  align-items: center;
  background-color: #acc9e981;
  padding: 16px 32px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.loginpage_leftinactive_button {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.loginpage_leftinactive_button:hover {
  background-color: #acc9e981;
  cursor: pointer;
}
/* forgotpassword styles */
.lmslogin_forgotpasswordContainer {
  margin-top: 6px !important;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 500;
  color: #0056b3;
}
.lmslogin_forgotpassword {
  width: max-content;
  cursor: pointer;
}
.forgotpassword_maincontainer {
  position: relative;
  height: 100vh;
  /* background-color: #71aceb1e; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotpassword_innercontainer {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.forgotpassword_iconContainer {
  background-color: #0057b338;
  color: #0056b3;
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotpassword_heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px !important;
  text-align: center;
}
.forgotpassword_subheading {
  color: gray;
  margin-top: 6px !important;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.forgotpassword_emailinputlabel {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px !important;
}
.forgotpassword_emailinputContainer {
  position: relative;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif !important;
}
.forgotpassword_emailinputfield {
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #cdc8c8;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.forgotpassword_emailinputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.forgotpassword_emailinputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.forgotpassword_emailerrorinputfield {
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
}
.forgotpassword_emailerrorinputfield:hover {
  border-color: #ff4d4f !important;
  background-color: transparent;
}
.forgotpassword_emailerrorinputfield:focus-within {
  border-color: #ff4d4f !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff4d501c !important;
}
.forgotpassword_emailerrorhide {
  position: absolute;
  color: red;
  font-size: 14px;
  transform: translateX(-20px);
  opacity: 0;
  bottom: -25px;
  transition: all 0.3s ease-in-out;
}
.forgotpassword_emailerror {
  position: absolute;
  color: red;
  font-size: 14px;
  bottom: -25px;
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.forgotpassword_buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.forgotpassword_button {
  width: 100%;
  background-color: #0056b3;
  border: none;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.forgotpassword_button:hover {
  opacity: 0.7;
}
.forgotpassword_button:active {
  transform: translateY(2px);
}
.forgotpassword_backbuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: gray;
  margin-top: 24px !important;
  cursor: pointer;
}
.forgotpassword_backbutton {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.forgotpassword_disablebutton {
  width: 100%;
  background-color: #0056b3;
  border: none;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  cursor: default;
  opacity: 0.7;
}
.forgotpassword_otpinputfieldContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.forgotpassword_otpinputfieldContainer .ant-input {
  height: 45px !important;
  width: 45px !important;
  background-color: transparent !important;
  border-color: #cdc8c8 !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #0056b3 !important;
  font-family: "Montserrat", sans-serif !important;
  outline: none !important;
}
.forgotpassword_otpinputfieldContainer .ant-input:focus {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
  outline: none !important;
}
.forgotpassword_otpinputfieldContainer .ant-otp {
  column-gap: 22px !important;
}
