.login_maincontainer {
  position: relative;
  height: 100vh;
  background-color: #f3f2f1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.login_headerContainer {
  padding: 22px 54px;
}
.login_actelogo {
  width: 240px;
}
.login_card {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 210, 208);
  padding: 40px 24px;
  width: 340px;
  height: 300px;
  margin: 50px 0px;
}
@media (min-width: 320px) and (max-width: 424px) {
  .login_card {
    width: 75%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .login_card {
    margin: 20px 0px;
  }
}
.logincard_heading {
  font-size: 24px;
  font-weight: 600;
  /* text-align: center; */
  margin-bottom: 24px !important;
}
.inputfields_label {
  font-weight: 500;
}
.login_inputfields {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 6px;
}
.login_inputfields:hover {
  border-color: #0056b3 !important;
}
.login_inputfields:focus-within {
  border-color: #0056b3 !important;
  box-shadow: 0 0 0 2px #0057b32a;
}
.login_errorinputfields {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.login_errormessage {
  color: #ff4d4f;
  margin-top: 4px;
}
.login_passwordinputfield {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.login_passwordinputfield:hover {
  border-color: #0056b3 !important;
}
.login_passwordinputfield:focus-within {
  border-color: #0056b3 !important;
  box-shadow: 0 0 0 2px #0057b32a;
}
.login_forgotpasswordtext {
  margin-top: 6px !important;
  color: #0056b3;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width: max-content;
}
.loginbutton {
  color: #fff;
  background-color: #0056b3;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 34px;
  outline: 0 !important;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
.loginbutton:hover {
  opacity: 0.8;
}
.loginbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.loading_loginbutton {
  color: #fff;
  background-color: #0056b3;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 33px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 34px;
  outline: 0 !important;
  border: none;
  font-size: 13px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* lms login */
.lmslogin_rightContainer {
  background: #ffffff;
  border-radius: 22px;
  padding: 40px 40px 70px 40px;
  z-index: 1;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.lmslogin_blurBackground {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 700px;
  height: 650px;
  background: radial-gradient(
    circle at center,
    rgba(63, 99, 255, 0.7) 10%,
    rgb(49 46 105 / 85%),
    transparent
  );
  transform: translate(-74%, -48%);
  filter: blur(90px);
  border-radius: 30%;
  z-index: 0;
}
@media (min-width: 320px) and (max-width: 425px) {
  .lmslogin_blurBackground {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 500px;
    height: 1120px;
    background: radial-gradient(
      circle at center,
      rgba(63, 99, 255, 0.7) 10%,
      rgb(49 46 105 / 85%),
      transparent
    );
    transform: translate(-54%, -65%);
    filter: blur(90px);
    border-radius: 30%;
    z-index: 0;
  }
}

@media (min-width: 426px) and (max-width: 990px) {
  .lmslogin_blurBackground {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 760px;
    height: 800px;
    background: radial-gradient(
      circle at center,
      rgba(63, 99, 255, 0.7) 10%,
      rgb(49 46 105 / 85%),
      transparent
    );
    transform: translate(-46%, -63%);
    filter: blur(90px);
    border-radius: 30%;
    z-index: 0;
  }
}
