.onlinetest_mainContainer {
  padding: 40px 120px;
}
.onlinetest_logo {
  width: 220px;
}
.onlinetest_sectionhaeding {
  font-weight: 600;
  font-size: 24px;
}
.onlinetest_timer {
  font-size: 24px;
  font-weight: 600;
  color: #0056b3;
  width: 265px;
}
.questionColContainer {
  border-right: 1px solid rgba(128, 128, 128, 0.404);
  position: relative;
}
.onlinetest_questionContainer {
  margin-top: 30px;
  padding-left: 9px;
}
.onlinetest_questionnumber {
  margin-bottom: 20px !important;
}
.onlinetest_question {
  font-weight: 500;
  font-size: 16px;
}
.onlinetest_optionsContainer {
  margin-top: 26px;
  padding: 0px 0px 0px 24px;
}
.onlinetest_optiondiv {
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 10px 14px;
  border-radius: 9px;
  margin-bottom: 20px;
  width: 100%;
}
.onlinetest_nxtbuttonContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.onlinetest_nxtbutton {
  color: #fff;
  background-color: #0056b3;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 36px;
  width: 140px;
  padding: 0px 12px;
  font-weight: 600;
  border-radius: 9px;
  outline: 0 !important;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
.onlinetest_nxtbutton:hover {
  opacity: 0.8;
}
.onlinetest_nxtbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.onlinetest_disablenxtbutton {
  color: #fff;
  background-color: #0056b3;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 36px;
  width: 140px;
  padding: 0px 12px;
  font-weight: 600;
  border-radius: 9px;
  outline: 0 !important;
  cursor: default;
  opacity: 0.7;
  border: none;
  font-size: 15px;
}
.onlinetest_backbutton:hover {
  border-color: #0056b3 !important;
  color: #0056b3 !important;
}
.onlinetest_skipbuttonContainer {
  position: absolute;
  bottom: 0px;
}
.onlinetest_warningmodalContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.onlinetest_warningmodal_iconContainer {
  border-radius: 50%;
  padding: 11px;
  background-color: #faad1430;
}
.onlinetest_warningmodal_okbutton:hover {
  color: #0056b3 !important;
  border-color: #0056b3 !important;
}
.onlinetest_runcodebutton {
  border-color: #0056b3 !important;
  background-color: #0056b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  padding: 6px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  font-size: 13px;
}
.onlinetest_runcodebutton:hover {
  opacity: 0.7;
}
.onlinetest_runcodebutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.onlinetest_codeoutputContainer {
  padding: 10px;
  /* background-color: #222; */
  color: black;
  /* color: #fff; */
  border-radius: 6px;
  margin-top: 6px;
  border: 1px solid #0000004b;
  font-family: "Montserrat", sans-serif !important;
}
/* test invite styles */
.testinvite_mainContainer {
  padding: 40px;
}
.testinvite_logo {
  width: 235px;
}
.testinvite_sessionheading {
  font-weight: 600;
  font-size: 15px;
}
.testinvite_detailsContainer {
  display: flex;
  margin-top: 20px;
  gap: 24px;
}
.testinvite_detailsheadings {
  font-weight: 500;
  margin-bottom: 19px !important;
}
.testinvite_detailstext {
  margin-bottom: 19px !important;
}
.testinvite_sectionoverview_heading {
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px !important;
}
.testinvite_sectiontableheading {
  font-weight: 500;
}
.testinvite_sectiontabledatas {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  text-align: center;
}
.testinvite_formmainContainer {
  padding: 0px 19px;
  width: 65%;
}
.testinvite_formheading {
  font-weight: 600;
  font-size: 18px;
}
.testinvite_formContainer {
  margin-top: 22px;
}
.testinvite_formbuttonContainer {
  display: flex;
  justify-content: flex-end;
}
.testinvite_formbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 6px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
}
.testinvite_formbutton:hover {
  opacity: 0.8;
}
.testinvite_formbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}

.testinvite_formbuttondisable {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  cursor: default;
  font-weight: 600;
  margin-top: 30px;
  opacity: 0.7;
}
.testinvite_importantnoteContainer {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0px 19px;
}
.testinvite_notesheading {
  font-weight: 600;
  margin-top: 9px !important;
}
.testinvite_importantnoteContainer ul {
  padding: 0px 42px;
  margin-top: 6px;
}
.testinvite_importantnoteContainer li {
  padding: 4px 0px;
}
/* test expired styles */
.testexpired_mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 40px 32px;
  gap: 50px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .testexpired_mainContainer {
    flex-direction: column;
    overflow: auto;
  }
}
.testexpired_image {
  width: 100%;
}
.testexpired_contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0px 0px;
}
.testexpired_heading {
  color: #181c32;
  font-size: 22px;
  font-weight: 600;
}
.testexpired_content {
  color: #3f4254;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-top: 20px !important;
  width: 660px;
}
@media (min-width: 320px) and (max-width: 720px) {
  .testexpired_content {
    width: 100%;
  }
}
/* result styles */
.result_mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 242, 241);
}
.result_logo {
  width: 260px;
}
.result_contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d4d2d0;
  border-radius: 0.5rem;
  width: 400px;
  padding: 40px 16px;
  margin: 20px 0px;
}
.result_heading {
  color: #181c32;
  font-size: 26px;
  font-weight: 600;
}
.result_subheadingContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.result_subheading {
  color: gray;
  font-weight: 500;
}
.result_backtologinbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 36px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13.5px;
  margin-top: 50px;
}
.result_backtologinbutton:hover {
  opacity: 0.8;
}
.result_backtologinbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
