.userpassword_label {
  font-weight: 600;
  margin-bottom: 6px !important;
}
.userpasswordfield {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.userpasswordfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.userpasswordfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.userpasswordfield_error {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
  border-color: #ff4d4f;
}
.userpasswordfield_error:hover {
  border-color: #ff4d4f !important;
  background-color: transparent;
}
.userpasswordfield_error:focus-within {
  border-color: #ff4d4f !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff4d501c !important;
}
.user_passworderror_hide {
  position: absolute;
  opacity: 1;
  transform: translateX(-8px);
  transition: all 0.3s ease-in-out;
  color: #ff4d4f;
}
.user_passworderror_visible {
  position: absolute;
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
  color: #ff4d4f;
}
.user_formbuttonContainer {
  display: flex;
  justify-content: center;
}
.user_formsubmitbutton {
  color: #fff;
  background-color: #0056b3;
  /* box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  height: 34px;
  width: 120px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 30px;
  outline: 0 !important;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
.user_formsubmitbutton:hover {
  opacity: 0.8;
}
.user_formsubmitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.user_disableformsubmitbutton {
  color: #fff;
  background-color: #0056b3;
  /* box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 14px;
  height: 34px;
  width: 120px;
  font-weight: 600;
  border-radius: 9px;
  margin-top: 30px;
  outline: 0 !important;
  cursor: default;
  border: none;
  font-size: 15px;
  opacity: 0.7;
}
.users_uploadprofileContainer {
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 100%;
  height: 100%;
  position: relative;
}
.users_uploadprofilename {
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  color: #0056b3;
}
/* candidates styles */
.candidate_sendrequestbutton {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 7px 0px;
  cursor: pointer;
  font-weight: 600;
}
.candidate_sendrequestbutton:hover {
  opacity: 0.8;
}
.candidate_sendrequestbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px #027cff73;
}
.candidate_disablesendrequestbutton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #0056b3 !important;
  border-radius: 9px !important;
  outline: 0 !important;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 10px 0px;
  cursor: default;
  font-weight: 600;
  opacity: 0.7;
}
.candidates_result_collapse .ant-collapse-header-text {
  font-weight: 600 !important;
}
.candiadtes_resultviewContainer {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 13px;
  margin-left: 12px;
  cursor: pointer;
  width: 50%;
}
.candidates_questionContainer {
  margin-bottom: 20px;
}
.candidates_questionheading {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 6px !important;
}
.candidates_selectedanswer_container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 12px;
  border-radius: 6px;
}
/* .candidates_question_selectedanswer {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
} */
