.register_smalltext {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
  line-height: 22px;
}
@media (min-width: 365px) and (max-width: 386px) {
  .register_smalltext {
    font-size: 13px;
  }
}
.register_smalltext a {
  color: #4f46e5;
  text-decoration: underline;
}
.register_rightContainer {
  background: #ffffff;
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.register_right_subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 60%;
  overflow: auto;
  flex-direction: column;
  width: 80%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .registerpage_inputright_col_container {
    margin-top: 22px;
  }
}
.register_inputlabel {
  font-weight: 500;
  margin-bottom: 4px !important;
}
.lmsregister_input {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3c7;
  border-radius: 16px;
  transition: all 0.2s;
  width: 100%;
  font-size: 15px;
  /* margin-top: 22px; */
}
.lmsregister_input:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.lmsregister_input:focus-within {
  border-color: #0057b3b9 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(149, 157, 165, 0.2);
}
.lmsregister_input.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none !important;
}
.lmsregister_input:hover.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.lmsregister_input:focus-within.ant-select-focused.ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.register_input {
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3c7;
  border-radius: 16px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  /* margin-top: 22px; */
}
.register_input:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.register_input:focus-within {
  border-color: #0057b3b9 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(149, 157, 165, 0.2);
}
.lmsregister_errorinput {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
  border-radius: 16px;
  transition: all 0.2s;
  width: 100%;
  font-size: 15px;
  font-family: "Montserrat", sans-serif !important;
  /* margin-top: 22px; */
}
.lmsregister_errorinput:hover {
  border-color: #ff4d4f !important;
  background-color: transparent;
}
.lmsregister_errorinput:focus-within {
  border-color: #ff4d4f !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff4d5021 !important;
}
.lmsregister_errorinput.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none !important;
}
.lmsregister_errorinput:hover.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.lmsregister_errorinput:focus-within.ant-select-focused.ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
.register_errorinput {
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
  border-radius: 16px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  /* margin-top: 22px; */
}
.register_errorinput:hover {
  border-color: #ff4d4f !important;
  background-color: transparent;
}
.register_errorinput:focus-within {
  border-color: #ff4d4f !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff4d5021 !important;
}
.register_errorlabels_hide {
  position: absolute;
  color: #ff4d4f;
  transform: translate(-40px, 3px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.register_errorlabels_visible {
  position: absolute;
  font-size: 13px;
  color: #ff4d4f;
  transform: translate(8px, 3px);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.register_submitbutton {
  width: 100%;
  background-color: #0056b3;
  border: none;
  height: 43px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.register_submitbutton:hover {
  opacity: 0.7;
}
.register_submitbutton:active {
  transform: translateY(2px);
}
.register_errorcheckbox .ant-checkbox .ant-checkbox-inner {
  border: 1px solid #ff4d4f !important;
}
.register_disablesubmitbutton {
  width: 100%;
  background-color: #0056b3;
  border: none;
  height: 43px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  cursor: default;
  opacity: 0.7;
}

.registerpage_submitbutton {
  width: 55%;
  background-color: #0056b3;
  border: none;
  height: 43px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.registerpage_submitbutton:hover {
  opacity: 0.7;
}
.registerpage_submitbutton:active {
  transform: translateY(2px);
}

.registerpage_disablesubmitbutton {
  width: 60%;
  background-color: #0056b3;
  border: none;
  height: 43px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  cursor: default;
  opacity: 0.7;
}
