.assessments_mainContainer {
  display: flex;
  /* padding: 20px 90px; */
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}
.assessments_linkContainer {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 6px;
  /* margin-bottom: 30px; */
}
.assessments_testlinks {
  color: #15c !important;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
.assessments_testlinks:hover {
  color: #15c !important;
  text-decoration: underline;
}
.assessments_testlinks .assessments_testlinks_seemore {
  text-decoration: none !important;
  display: inline-block;
}

.assessments_timeagotext {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.assessments_linkdivider {
  margin: 0px !important;
}
/* result styles */
.assesmntresult_collapse {
  margin-top: 20px;
}
.assesmntresult_collapse .ant-collapse-header-text {
  font-weight: 600 !important;
}
.assesmntresult_viewContainer {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 13px;
  margin-left: 12px;
  cursor: pointer;
  width: 50%;
}
.assesmntresult_questionContainer {
  margin-bottom: 12px;
}
.assesmntresult_questionheading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 6px !important;
}
.assesmntresult_selectedanswer_container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  border-radius: 6px;
}
.assesmntresult_optionContainer {
  padding: 10px 10px 10px 20px;
  background-color: #f1f1f1;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.assesmntresult_correctselectoptionContainer {
  padding: 10px 10px 10px 20px;
  background-color: #d4edda;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.assesmntresult_correctoptionContainer {
  padding: 10px 10px 10px 20px;
  background-color: #ddd;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.assesmntresult_wrongoptionContainer {
  padding: 10px 10px 10px 20px;
  background-color: #f8d7da;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.assesmntresult_youranswerContainer {
  position: absolute;
  top: 18%;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 12px;
  color: #fff;
}
.assesmntresult_mark {
  font-size: 15px;
  padding: 6px 20px;
}
.assesmntresult_question {
  font-size: 15px;
  margin-top: 16px !important;
  color: #000;
}
.assesmntresult_divider {
  margin: 0px !important;
  /* margin-top: 6px !important; */
  margin-bottom: 24px !important;
  border-color: #eee !important;
}
.assessmentlink_pendingContainer {
  background-color: #ffbf0033;
  color: #fabb00;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assessmentlink_completedContainer {
  background-color: #14b8a524;
  color: #14b8a6;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assessmentlink_expiredContainer {
  background-color: rgba(244, 67, 54, 0.164);
  color: #f44336d1;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
