.admin_mainContainer {
  background-color: rgba(128, 128, 128, 0.11);
  height: 100%;
  position: relative;
}
.admin_movetotop_buttonContainer {
  position: fixed;
  bottom: 34px;
  right: 34px;
}
.admin_movetotop_button {
  border-radius: 50%;
  padding: 14px 16px;
  border: 1px solid #222;
  background-color: #222;
  opacity: 0.7;
  cursor: pointer;
}
.admin_layoutrowContainer {
  padding: 30px 35px;
}
.admin_filtersmainContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
  border-radius: 9px;
  width: 290px;
}
.admin_antdsider.ant-layout-sider {
  max-width: 270px !important;
  min-width: 270px !important;
  overflow: auto;
}
.admin_antdsider.ant-layout-sider::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent; /* or add it to the track */
}

/* Add a thumb */
.admin_antdsider.ant-layout-sider::-webkit-scrollbar-thumb {
  background: #284461;
}

.admin_filtericondiv {
  background-color: #0057b323;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
  /* color: #026ddf; */
}
.admin_filtersubContainer {
  width: 100%;
  padding: 9px 20px;
  /* margin-top: 20px; */
  word-break: break-all;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.admin_leftheding_coldiv {
  display: flex;
  align-items: center;
}
.filters_heading {
  font-weight: 500;
  color: #333;
  font-size: 15px;
}
.admin_clearContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #0056b3;
  font-weight: 600;
}
.admin_clearalltext {
  cursor: pointer;
  color: #0075f1;
}
.admin_clearalltext:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.admin_filterdivider {
  margin: 0 !important;
  margin-top: 6px !important;
  background: #d2d1d634 !important;
}
.admin_filterbuttonContainer {
  display: flex;
}
.admin_filtercloseicondiv {
  background-color: #0057b314;
  border-radius: 6px;
  padding: 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0075f1 !important;
  cursor: pointer;
}
.admin_filtercloseicondiv:active {
  transform: scale(0.8);
}
.admin_filterarrowicondiv {
  background-color: #0057b314;
  border-radius: 6px;
  padding: 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0075f1;
  margin-left: 12px;
  cursor: pointer;
}
.admin_filterarrowicondiv:active {
  transform: scale(0.8);
}
.admin_filtervaluesmaindiv {
  padding: 1px 20px;
  display: flex;
}
.admin_filtervaluesdiv {
  background-color: #0057b321;
  color: #0056b3;
  border-radius: 6px;
  width: max-content;
  padding: 4px 6px;
  margin-right: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 13px;
}
.admin_candidatesDetailscard {
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* margin: 0px 16px; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.admin_checkiconContainer {
  position: absolute;
  top: 10px;
  padding: 0px 12px;
  display: flex;
  width: 96%;
  justify-content: space-between;
}
.admin_eligiblecandidateContainer {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.admin_eligibleheading {
  color: #333;
  margin: 1px !important;
}
.admin_candidatesDetailsmainContainer {
  padding: 40px 20px 20px;
}
.admin_candidatesleft_div {
  margin-right: 20px;
}
.admin_candidateprofileimage {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 1px solid #e4e2e0;
}
.admin_candidatename {
  margin-bottom: 9px !important;
  color: #0056b3;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}
.admin_candidateprofdiv {
  display: flex;
  margin-bottom: 2px;
}
.admin_candidatecard_icons {
  color: #333;
  margin-right: 6px;
  margin-top: 1px;
}
.admin_candidategender {
  margin-bottom: 9px !important;
  font-size: 15px;
  color: #333;
}
.admin_candidatedesignation {
  margin-bottom: 9px !important;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
.admin_candidate_lefttext {
  font-size: 14px;
  color: #87878a;
}
.admin_candidate_locationtext {
  font-size: 14px;
  color: #333;
}
.admin_candidateskills_container {
  background-color: rgba(207, 207, 207, 0.24);
  border-radius: 6px;
  padding: 4px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333 !important;
  width: max-content;
  margin-right: 12px;
  margin-bottom: 11px;
  font-size: 13px;
  font-weight: 500;
}
.highlighted-skill {
  background-color: #0057b336;
  color: #333;
  font-weight: bold;
}
.admin_favoritesbutton {
  border: 1px solid rgba(128, 128, 128, 0.322);
  background-color: transparent;
  border-radius: 6px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.admin_favoritesbutton:hover {
  border-color: #0056b3;
  color: #0056b3;
}

.admin_candidate_profilesummaryheading {
  margin-bottom: 6px !important;
  font-weight: 700;
  font-size: 15px;
  color: gray;
}
.admin_candidate_profilesummary {
  line-height: 24px;
  color: #333;
}
.admin_candidate_nosummary {
  color: gray;
  text-align: center;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.admin_experienceheading {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 6px !important;
  color: #87878a;
}
.admin_ctctext {
  font-weight: 500;
  color: #333;
}
.admin_candidatenodatadiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25%;
  height: 100%;
  font-size: 17px;
  font-weight: 700;
  color: rgb(45, 45, 45);
}
.admin_contactinfo_buttondiv {
  position: absolute;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin_contactinfo_button {
  width: max-content;
  background-color: #0056b3;
  border-color: #0056b3 !important;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.admin_contactinfo_button:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #ffffff !important;
  opacity: 0.7;
}
.admin_profilesummaryrow {
  margin-top: 20px;
}
.admin_profilefound_heading {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}
.admin_savetofoldersdiv {
  margin-top: 16px;
  width: 100%;
  align-items: center;
}
.admin_savetofoldersbutton {
  border-radius: 6px;
  padding: 7px 16px;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0056b3;
  color: #0056b3;
}
.admin_savetofoldersbutton:hover {
  background-color: #0056b3;
  color: #ffffff;
}
/* modal styles */
.admin_modalsubmitbutton {
  width: max-content;
  background-color: #0056b3;
  border-color: #0056b3 !important;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
}
.admin_modalsubmitbutton:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #ffffff !important;
  opacity: 0.7;
}
.admin_viewresumebuttondiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.admin_viewresumebutton {
  width: max-content;
  background-color: #0056b3;
  border-color: #0056b3 !important;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.admin_viewresumebutton:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #ffffff !important;
  opacity: 0.7;
}
.admin_resumemodal_resumeview {
  height: 75vh;
  overflow-y: auto;
}
.admin_resumemodal_paginationdiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.admin_resumemodal_paginationbutton {
  border: 1px solid rgba(128, 128, 128, 0.301) !important;
  border-radius: 7px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
.admin_resumemodal_activepaginationbutton {
  border-color: #0056b3;
  border: none;
  background-color: #0056b3;
  color: #ffffff;
  border-radius: 7px;
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 9px;
  padding: 6px 12px;
}
/* search styles */
.adminsearch_mainContainer {
  margin-top: 20px;
  padding: 0px 32px;
}
.adminsearch_heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px !important;
}
.adminsearch_label {
  margin-bottom: 8px !important;
}
.adminsearch_inputfield {
  height: 42px;
  background-color: transparent;
  background-image: none;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: #a3a3a3; */
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.adminsearch_inputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.adminsearch_inputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b317;
}
.adminsearch_inputfield .ant-select-selector {
  padding: 0px 36px;
}
.adminsearch_searchicon {
  position: absolute;
  top: 12px;
  left: 12px;
}
.adminsearch_footer {
  position: absolute;
  bottom: 36px;
  width: 100%;
}
.adminsearch_filterContainer {
  padding: 0px 32px;
}
.adminsearch_filter_searchContainer {
  display: flex;
  margin-top: 12px;
  gap: 24px;
}
.adminsearch_filterselectlabel {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px !important;
}
.adminsearch_filterselectinput {
  height: 34px !important;
}
.adminsearch_locationselectinput {
  height: auto !important;
}
.adminsearch_buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.adminsearch_button {
  box-sizing: border-box;
  background-color: #0056b3;
  width: 140px;
  appearance: none;
  text-align: start;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px;
  color: #ffffff;
  border-color: #0056b3 !important;
  padding: 19px 0px;
  font-size: 16px;
}
.adminsearch_button:hover {
  background-color: #0056b3 !important;
  color: #ffffff !important;
  border-color: #0056b3 !important;
  opacity: 0.7;
}
.adminsearch_loadingbutton {
  box-sizing: border-box;
  background-color: #0056b3;
  width: 140px;
  appearance: none;
  text-align: start;
  text-decoration: none;
  cursor: default;
  font-weight: 500;
  border-radius: 6px;
  color: #ffffff;
  border-color: #0056b3 !important;
  padding: 19px 0px;
  font-size: 15px;
  opacity: 0.7;
}
.adminsearch_loadingbutton:hover {
  background-color: #0056b3 !important;
  color: #ffffff !important;
  border-color: #0056b3 !important;
  opacity: 0.7;
}
.keyword_highlight {
  background-color: #0057b336;
  color: #333;
}
