.commonInputfield_container {
  position: relative;
  transition: all 0.3s ease;
}
/* common input field styles */
.commonInputfield {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.commonInputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.commonInputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}

.portalInputfield {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.portalInputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.portalInputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
/* common select field styles */
.commonSelectfield {
  height: 37px;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.portalSelectfield {
  height: 35px;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.portalSelectfield:hover .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.portalSelectfield:focus-within .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #a3a3a3 !important;
  background-color: transparent !important;
}
.ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #ff4d4f !important;
}
.ant-select-outlined.ant-select-status-error:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: 1px solid #ff4d4f !important;
}
/* common labels styles */
.commonfield_label {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
}
.portalfield_label {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
  font-size: 14px;
}
.commonfield_asterisk {
  color: rgba(255, 0, 0, 0.863);
  margin-left: 3px !important;
}
.commonfield_errortext {
  color: #ff4d4f;
  margin-top: 2px !important;
}
.commonInputfield_error {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
}
.portalInputfield_error {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
}
.commoninput_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0%;
}
.commoninput_errormessage_activediv {
  transform: translateX(2%);
  opacity: 1;
  position: absolute;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
/* common search field styles */
.commonsearchbar:hover .ant-input-outlined:hover {
  border-color: #0056b3 !important;
}
.commonsearchbar .ant-input-outlined:focus-within {
  border-color: #0056b3 !important;
  box-shadow: 0 0 0 2px #25a17e17 !important;
}
.commonSelectfield:hover .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
/* common multiselect field styles */
.commonMultiselectfield .ant-select-selector {
  min-height: 37px !important;
  height: auto !important;
  overflow-y: auto;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap;
  border-radius: 6px !important;
  display: flex;
}
/* session expired modal styles */
.sessionmodal_okbuttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.sessionmodal_okbutton {
  color: #fff;
  background-color: #0056b3 !important;
  border: none;
  font-size: 14px;
  height: 30px;
  width: 64px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}
.sessionmodal_okbutton:hover {
  opacity: 0.7;
}
.sessionmodal_okbutton:active {
  transform: scale(0.9);
}
