.commonInputfield_container {
  position: relative;
  transition: all 0.3s ease;
}
/* common input field styles */
.commonInputfield {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.commonInputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.commonInputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}

.portalInputfield {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.portalInputfield:hover {
  border-color: #0056b3 !important;
  background-color: transparent;
}
.portalInputfield:focus-within {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
/* common select field styles */
.commonSelectfield {
  height: 36px;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.commonSelectfield_error {
  height: 36px !important;
}
.portalSelectfield_error {
  height: 35px !important;
}
.portalSelectfield {
  height: 35px;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
}
.portalSelectfield:hover .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.portalSelectfield:focus-within .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #a3a3a3 !important;
  background-color: transparent !important;
}
.ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #ff4d4f !important;
}
.ant-select-outlined.ant-select-status-error:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: 1px solid #ff4d4f !important;
}
/* common labels styles */
.commonfield_label {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
}
.portalfield_label {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
  font-size: 14px;
}
.commonfield_asterisk {
  color: rgba(255, 0, 0, 0.863);
  margin-left: 3px !important;
}
.commonfield_errortext {
  color: #ff4d4f;
  margin-top: 2px !important;
}
.commonInputfield_error {
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
}
.portalInputfield_error {
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  font-size: 16px;
  background-color: transparent !important;
}
.portalInputfield_error:hover {
  border-color: #ff4d4f !important;
  background-color: transparent;
}
.portalInputfield_error:focus-within {
  border-color: #ff4d4f !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff4d501c !important;
}
.commoninput_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0%;
}
.commoninput_errormessage_activediv {
  transform: translateX(2%);
  opacity: 1;
  position: absolute;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
/* common search field styles */
.commonsearchbar:hover .ant-input-outlined:hover {
  border-color: #0056b3 !important;
}
.commonsearchbar .ant-input-outlined:focus-within {
  border-color: #0056b3 !important;
  box-shadow: 0 0 0 2px #25a17e17 !important;
}
.commonSelectfield:hover .ant-select-selector {
  border-color: #0056b3 !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #0057b31c;
}
/* common multiselect field styles */
.commonMultiselectfield .ant-select-selector {
  min-height: 37px !important;
  height: auto !important;
  overflow-y: auto;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap;
  border-radius: 6px !important;
  display: flex;
}
/* session expired modal styles */
.sessionmodal_okbuttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.sessionmodal_okbutton {
  color: #fff;
  background-color: #0056b3 !important;
  border: none;
  font-size: 14px;
  height: 30px;
  width: 64px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}
.sessionmodal_okbutton:hover {
  opacity: 0.7;
}
.sessionmodal_okbutton:active {
  transform: scale(0.9);
}

/* lottie loader styles */
.lottieloader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.lottie_loader {
  width: 160px;
}
/* nodata found styles */
.common_nodataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  flex-direction: column;
  gap: 16px;
  color: #ababab;
}
.common_nodataimage {
  width: 170px;
}

/* common portal styles */
.common_portalmenu_headermenubutton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common_portalmenu_headermenubutton:hover {
  color: black !important;
  background-color: #e1e1e1;
}
.common_portalmenu_headermenubutton:focus-visible {
  outline: 0 !important;
}
.common_portal_headeravatarbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.common_portalmenu_avatar {
  background-color: #0056b3;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common_portalmenu_placementreg_menuContainer {
  background-color: #fff;
  position: absolute;
  top: 156%;
  right: 28px;
  z-index: 99;
  border-radius: 9px;
  padding: 9px 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.common_portalmenu_menuContainer {
  background-color: #fff;
  position: absolute;
  top: 142%;
  right: 0px;
  z-index: 99;
  border-radius: 9px;
  padding: 9px 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.common_portalmenu_menuInnerContainer {
  display: flex;
  gap: 19px;
}
.common_portalmenu_menuItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
}
.common_portalmenu_menuItemContainer:hover {
  background-color: #eaf1f9;
}
.common_portalmenu_menuname {
  margin-top: 4px !important;
  font-size: 13px;
  line-height: 20px !important;
  text-align: center;
}
.common_portalmenu_menunametwo {
  margin-top: 6px !important;
  font-size: 13px;
  line-height: 20px !important;
  text-align: center;
}
.common_portalmenu_placementStatusIcon {
  position: absolute;
  top: 5%;
  right: 16px;
}
.common_portalmenu_menuImage {
  width: 32px;
}
.common_portalmenu_menuItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
}
.common_portalmenu_menuItemContainer:hover {
  background-color: #eaf1f9;
}
.common_portalmenu_placementreg_logoutmenuContainer {
  background-color: #fff;
  position: absolute;
  width: 260px;
  top: 156%;
  right: 28px;
  z-index: 99;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.common_portalmenu_logoutmenuContainer {
  background-color: #fff;
  position: absolute;
  width: 260px;
  top: 142%;
  right: 0px;
  z-index: 99;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.common_portalmenu_logoutmenuemail {
  line-height: 22px !important;
  margin-top: 12px !important;
  text-align: center;
  word-break: break-all;
  font-weight: 400;
}
.common_portalmenu_logoutmenu_username {
  line-height: 22px !important;
  margin-top: 6px !important;
  text-align: center;
  word-break: break-all;
  font-weight: 400;
}
.common_portalmenu_logoutmenu_divider {
  margin: 0 !important;
  margin-top: 9px !important;
}
.common_portalmenu_logoutmenu_buttonContainer {
  display: flex;
  padding: 12px 22px;
  cursor: pointer;
  border-bottom-right-radius: 9px;
}
.common_portalmenu_logoutmenu_buttonContainer:hover {
  background-color: #eaf1f9;
}
.common_portalmenu_logoutmenu_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 16px !important;
}
.common_portalmenu_notificationCount_container {
  position: absolute;
  top: 5px;
  left: 25px;
  background-color: #cb112d;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 1px 7px;
  justify-content: center;
  border-radius: 50%;
}
.commonportalmenu_interviewportal_notificationCount_container {
  position: absolute;
  top: 3px;
  right: 8px;
  background-color: #cb112d;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 1px 7px;
  justify-content: center;
  border-radius: 50%;
}
