.candidate_headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #e4e0e2;
  padding: 12px 0px;
  color: #2d2d2d;
  font-size: 14px;
}
.candidate_headerlogoContainer {
  display: flex;
  align-items: center;
  padding-left: 32px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .candidate_headerlogoContainer {
    padding-left: 19px;
  }
}
.candidateregister_actelogo {
  width: 220px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .candidateregister_actelogo {
    width: 160px;
  }
}
.candidate_headertextContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  padding-right: 32px;
}
.candidate_headerheading {
  color: #0056b3;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 425px) {
  .candidate_headerheading {
    font-size: 13px;
  }
}
.candidate_maincontainer {
  width: 100%;
  background-color: #f8f9fa;
  margin-top: 60px;
  height: 90vh;
}

.candidate_formColcontainer {
  padding: 45px 65px;
  height: 90vh;
}
@media (min-width: 300px) and (max-width: 986px) {
  .candidate_formColcontainer {
    padding: 24px;
    margin-bottom: 60px;
    height: 100%;
  }
}
.registration_actelogo {
  width: 220px;
}
.registration_headertextContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}
.registration_leftcardColdiv {
  display: flex;
  justify-content: center;
}
@media (min-width: 300px) and (max-width: 991px) {
  .registration_leftcardColdiv {
    display: none;
  }
}
.registration_leftcardContainer {
  border: 1px solid #e7e7f1;
  border-radius: 10px;
  width: 310px;
  position: fixed;
  margin-top: 45px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.registration_cardimage {
  width: 152px;
  text-align: center;
  padding: 0px 60px;
}
.registration_cardtextdiv {
  display: flex;
  margin-top: 19px;
}
.registration_cardtext {
  margin-left: 6px !important;
  color: #474d6a;
  font-size: 13px;
  font-weight: 500;
}
.registration_cardheading {
  font-weight: 500;
  font-size: 18px;
  margin-top: 16px !important;
  text-align: center;
}
.registration_formColcontainer {
  padding: 45px 65px;
}
@media (min-width: 300px) and (max-width: 986px) {
  .registration_formColcontainer {
    padding: 24px;
  }
}
.candidate_sessionheadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registration_sectionheadings {
  color: rgb(45, 45, 45) !important;
  font-weight: 700;
  font-size: 1.75rem;
}
.candidate_sessionnumbers {
  color: #0056b3;
  font-size: 15px;
}
.registration_fieldrowdiv {
  margin-top: 22px;
}
@media (min-width: 300px) and (max-width: 986px) {
  .registration_fieldcolumndiv {
    margin-bottom: 22px;
  }
}
.registration_sectiondivider {
  border-color: rgba(128, 128, 128, 0.425) !important;
  margin-top: 30px !important;
  margin-bottom: 16px !important;
  margin: 0;
}
.registration_addcompanybutton {
  box-sizing: border-box;
  background: none transparent;
  appearance: none;
  text-align: start;
  text-decoration: none;
  border: 1px solid rgb(212, 210, 208);
  cursor: pointer;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: #0056b3;
  margin-top: 6px;
  border-color: #0056b3 !important;
}
.registration_addcompanybutton:hover {
  background-color: #0057b32a !important;
  color: #0056b3 !important;
  border-color: #0056b3 !important;
}
.registration_deletecompanybutton {
  box-sizing: border-box;
  background: none rgb(255, 255, 255);
  appearance: none;
  text-decoration: none;
  border: 1px solid rgb(212, 210, 208);
  cursor: pointer;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: rgb(169, 37, 43);
  border-color: rgb(169, 37, 43) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration_deletecompanybutton:hover {
  background-color: rgb(254, 238, 239) !important;
  color: rgb(131, 22, 27) !important;
}
.registration_companyfields_divider {
  border-color: rgba(128, 128, 128, 0.219) !important;
  margin: 38px 0px 21px !important;
}
.candidate_companydeleterowdiv {
  margin-top: 22px;
}
.registration_uploadprofileContainer {
  display: flex;
  align-items: center;
  font-weight: 600;
  /* margin-top: 22px; */
  width: 100%;
}
@media (min-width: 300px) and (max-width: 1023px) {
  .registration_uploadprofileContainer {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.registration_profilechoosebutton {
  margin-left: 12px;
  width: 100%;
  background-color: transparent;
}
@media (min-width: 1000px) and (max-width: 1070px) {
  .registration_profilechoosebutton {
    width: 70px;
    font-size: 13px;
  }
}
.registration_profilechoosebutton:hover {
  border-color: #0056b3 !important;
  color: #0056b3 !important;
  background-color: transparent !important;
}
.registration_skillsdescription {
  color: gray;
  font-weight: 500;
  margin-top: 1px !important;
  font-size: 14px;
  margin-bottom: 20px !important;
}
.registration_uploadresumebutton_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.registration_uploadresumebutton {
  box-sizing: border-box;
  background: none rgb(255, 255, 255);
  appearance: none;
  text-align: start;
  text-decoration: none;
  border: 1px solid rgb(212, 210, 208);
  cursor: pointer;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: #0056b3;
  border-color: #0056b3 !important;
  padding: 19px;
}
.registration_uploadresumebutton:hover {
  background-color: #0057b32a !important;
  color: #0056b3 !important;
  border-color: #0056b3 !important;
}
.registration_summarytextarea {
  background-color: transparent !important;
}
.registration_summarytextarea:hover {
  border-color: #0056b3 !important;
}
.registration_summarytextarea:focus-within {
  border-color: #0056b3 !important;
  box-shadow: 0 0 0 2px #0057b349 !important;
}
.registration_errorsummarytextarea {
  background-color: transparent !important;
  border-color: #ff4d4f !important;
}
.registration_errorsummarytextarea:hover {
  border-color: #ff4d4f !important;
}
.registration_errorsummarytextarea:focus-within {
  border-color: #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06) !important;
}
.registration_summarytextarealabel {
  font-weight: 600 !important;
  margin-bottom: 6px !important;
}
.registration_summarytextareaasterisk {
  color: rgba(255, 0, 0, 0.863);
  margin-left: 3px !important;
}
.registration_summaryerrortext {
  margin-top: 2px !important;
  color: #ff4d4f;
}
.registration_languagesmainContainer {
  margin-top: 22px;
}
@media (min-width: 300px) and (max-width: 1023px) {
  .registration_languagesmainContainer {
    margin-top: 0px;
  }
}
.registration_languagesContainer {
  align-items: center;
  margin-bottom: 22px;
}
.registration_resumeContainer {
  border: 1px solid #0056b3;
  color: #0056b3;
  border-radius: 6px;
  padding: 5px 9px;
  width: 120px;
  margin-top: 12px;
}
.registration_registerbutton {
  box-sizing: border-box;
  background-color: #0056b3;
  appearance: none;
  text-align: start;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: #ffffff;
  border-color: #0056b3 !important;
  padding: 18px 32px;
  font-size: 15px;
}
.registration_registerbutton_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.registration_registerbutton:hover {
  background-color: #0056b3 !important;
  color: #ffffff !important;
  border-color: #0056b3 !important;
  opacity: 0.7;
}
.loading_registration_registerbutton {
  box-sizing: border-box;
  background-color: #0056b3;
  appearance: none;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: #ffffff;
  border-color: #0056b3 !important;
  padding: 18px 17px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: no-drop;
}
.loading_registration_registerbutton:hover {
  box-sizing: border-box;
  background-color: #0056b3 !important;
  appearance: none;
  width: max-content;
  font-weight: 600;
  border-radius: 6px;
  color: #ffffff !important;
  border-color: #0056b3 !important;
  padding: 18px 17px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration_resumenameContainer {
  width: max-content;
  color: #0056b3;
  background-color: #0057b32a;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 600;
  margin-top: 12px;
}
.registration_resumename {
  font-size: 14px;
}
.registration_personalinfosection {
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 12px 0px 0px;
}
@media (min-width: 300px) and (max-width: 986px) {
  .registration_personalinfosection {
    height: 100%;
  }
}
.candidate_subcontainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 300px) and (max-width: 700px) {
  .candidate_subcontainer {
    width: 70%;
  }
}
.candidate_fieldheading {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px !important;
}
@media (min-width: 300px) and (max-width: 700px) {
  .candidate_fieldheading {
    font-size: 19px;
  }
}
.candidate_experienceheading {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px !important;
}
@media (min-width: 300px) and (max-width: 700px) {
  .candidate_experienceheading {
    font-size: 19px;
  }
}
.candidate_footercontainer {
  position: absolute;
  bottom: 50px;
  right: 54px;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
@media (min-width: 300px) and (max-width: 986px) {
  .candidate_footercontainer {
    bottom: -42px;
    right: 32px;
  }
}
.candidate_forwardbutton {
  background-color: #0056b3;
  padding: 15px;
  outline: 0 !important;
  border-radius: 50%;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: #0057b33b 0px 8px 24px;
}
@media (min-width: 300px) and (max-width: 986px) {
  .candidate_forwardbutton {
    padding: 12px;
  }
}
.candidate_forwardloadingbutton {
  background-color: #0056b3;
  padding: 17px;
  outline: 0 !important;
  border-radius: 50%;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  opacity: 0.7;
  box-shadow: #0057b33b 0px 8px 24px;
}
.candidate_backwarddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.candidate_backtext {
  font-weight: 500;
  margin-left: 6px !important;
  color: #0056b3;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.candidate_freshertext {
  color: grey;
  font-size: 15px;
  margin-bottom: 16px !important;
  font-weight: 500;
}
.candidate_experincefielddiv {
  display: flex;
  width: 100%;
}
.candidate_popularlocation {
  font-weight: 600;
  margin-top: 20px !important;
}
.candidate_locationsmaindiv {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
  gap: 12px;
}
.candidate_locationdiv {
  border-radius: 14px;
  padding: 6px 14px;
  border: 1px solid rgba(128, 128, 128, 0.678);
  font-size: 13px;
  cursor: pointer;
}
.candidate_locationdiv:hover {
  color: #0056b3;
  background-color: #0057b336;
  border: 1px solid #0056b3;
}
.candidate_companydeleterowdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.candidate_companydeletebutton:hover {
  border-color: #ff4d4f !important;
  color: #ff4d4f !important;
}
.candidate_companyaddbutton {
  width: 140px;
  background-color: #0056b3;
  border-color: #0056b3 !important;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.candidate_companyaddbutton:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: #ffffff !important;
  opacity: 0.7;
}
@media (min-width: 300px) and (max-width: 767px) {
  .registration_languageslevelContainer {
    margin-top: 22px;
    margin-bottom: 12px;
  }
}
