.sidebar_divider {
  border-bottom: 0 !important;
  height: 0.5px !important;
  background-color: #606060 !important;
  margin-bottom: 6px !important;
  border: none !important;
  /* height: 1px !important; */
}
.demo-logo-vertical {
  background-color: #c4c4c4;
  padding: 24px;
  margin-bottom: 12px;
}
