.sidebar_divider {
  border-bottom: 0 !important;
  height: 0.5px !important;
  background-color: #606060 !important;
  margin-bottom: 6px !important;
  border: none !important;
  /* height: 1px !important; */
}
.demo-logo-vertical {
  background-color: #c4c4c4;
  padding: 24px;
  margin-bottom: 12px;
}
.portallayout_headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 19px;
  align-items: center;
  position: relative;
}
.portallayout_mobilemainsidebar {
  min-width: 80px !important;
}
.portallayout_mainsidebar {
  min-width: 206px !important;
  /* padding: 4px !important; */
}
.portallayout_headermenubutton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 9px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portallayout_headermenubutton:hover {
  color: black !important;
  background-color: #e1e1e1;
}
.portallayout_headermenubutton:focus-visible {
  outline: 0 !important;
}
.portallayout_headeravatarbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.portallayout_menuContainer {
  background-color: #fff;
  position: absolute;
  top: 104%;
  right: 16px;
  z-index: 99;
  border-radius: 9px;
  padding: 9px 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.portallayout_menuInnerContainer {
  display: flex;
  gap: 19px;
}
.portallayout_menuItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 9px;
  cursor: pointer;
}
.portallayout_menuItemContainer:hover {
  background-color: #eaf1f9;
}
.portallayout_menuImage {
  width: 32px;
}

.portallayout_menuname {
  margin-top: 4px !important;
  font-size: 13px;
  line-height: 20px !important;
}
.portallayout_menunametwo {
  margin-top: 6px !important;
  font-size: 13px;
  line-height: 20px !important;
}
.portallayout_logoutmenuContainer {
  background-color: #fff;
  position: absolute;
  width: 250px;
  top: 105%;
  right: 16px;
  z-index: 99;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.portallayout_logoutmenuemail {
  line-height: 22px !important;
  margin-top: 12px !important;
  text-align: center;
  word-break: break-all;
}
.portallayout_logoutmenu_username {
  line-height: 22px !important;
  margin-top: 6px !important;
  text-align: center;
  word-break: break-all;
}
.portallayout_logoutmenu_divider {
  margin: 0 !important;
  margin-top: 9px !important;
}
.logoutmenu_buttonContainer {
  display: flex;
  padding: 12px 22px;
  cursor: pointer;
}
.logoutmenu_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 16px !important;
}
.logoutmenu_buttonContainer:hover {
  background-color: #eaf1f9;
}
.portalsidebar_coursesicon {
  width: 17px;
}
